<html>
<head>
    <title>Reading Tracker</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
    <h1><a href="/">Reading Tracker</a></h1>
    <p>
    Use this application to track reading progress. You can <a href="/add/book">add a book</a>
    or <a href="/add/sections">add sections for a book</a>, <a href="/add/notes">add notes</a> for
    a section to record that you've finished reading it, or <a href="/view/progress">view your reading progress</a>.
    Happy reading!
    </p>
    <br/>
    <br/>
    <br/>
    <h3>>> Progress Summary:</h3>
    <p>
    <% for @c in @counts.values do %>
        <strong><%= @c['title'] %></strong>: finished <%= @c['read'] %> out of <%= @c['total'] %><br/>
    <% end %>
    </p>
</body>
</html>
