<html>
<head>
    <title>Reading Tracker</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body onload="window.setTimeout(function() { window.location = '/'; }, 3000)">
    <h1><a href="/">Reading Tracker</a></h1>
    <p>Insert results:</p>
    <p><%= @result %></p>
    <br/>
    <p>Redirecting to home page...</p>
</body>
</html>
